*{ /*This applies to all elements */
	box-sizing: border-box;
}
body{ 
	font-family: helvetica;
	background-color: white;
	margin: 10px;
}
header{
	background-color: lightblue;
}
h1{
	color: black;
}
h2{
	color: black;
	text-align: left-side;
	letter-spacing: 2px;
}
p #body{ 
	color: black;
	text-align: left-side;
	letter-spacing: 2px;
}
section{
	margin: 10px;
	position: relative;
	top: 70px;
}
.navigation{
	background-color: lightblue;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.navigation a{
	float: right;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 16px;
}
.navigation a:hover{
	background-color: white;
	color: black;
}
.navigation a.active{
	background: white;
	color: black;
}
.navigation #websiteHeading{
	float: left; 
	align-self: left;
	background-color: lightblue;
	color: black;
	font-size: 30px;
}
/* p #footer { */
	/* background-color: lightblue; */
	/* color: black; */
	/* text-align: center; */
/* } */
footer{
	background-color: lightblue;
	color: black;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 10px;
}