/* CSS FOR WHOLE WEBSITE */

/* Apply to whole doc */
* {
	font-family: helvetica;
}

/* top navigation bar */
.navigation {
	overflow: hidden;
	background-color: lightblue;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	vertical-align: middle;
}
.navigation a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-decoration: none;
	font-size: 28px;
}
.navigation a:hover {
	background: white;
	color: black;
}
.navigation #websiteHeading{
	background-color: lightblue;
}
.navbar-right {
	float: right;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}
.navbar-right a{
	float:left;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}
.navigation .icon{
	display: none;
}

/* responsive top nav bar || change to toggle menu if screen too small*/
@media screen and (max-width: 900px) {
  .navigation a:not(:first-child) {display: none;}
  .navbar-right a {
	display: none;
  }
  .navigation a.icon {
    float: right;
    display: block;
	position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 900px) {
  .navigation.responsive {}
  .navigation.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navigation.responsive .navbar-right {
	float: none;
	display: block;
    text-align: left;
  }
}
 
/*fixed footer bar */
.footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: lightblue;
	color: black;
}
#copyRight {
	float: right;
	margin-right: 35px;
	font-size: 12px;
}
.etcDetails{
	float: left;
	margin-top: 9px;
	margin-left: 35px;
}
.etcDetails a{
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	color: black;
}
/* stack footer items if the screen is too small */
@media screen and (max-width: 700px) {
  .footer .etcDetails {
    display: block;
    float: none;
	text-align: center;
  }
  .footer #copyRight {
	display: block;
    float: none;
	text-align: center;
	margin-right: 0;
  }
}

/* body of the site = everything outside the navbar and footer bar */
.body{
	margin-top: 65px;
	margin-bottom: 53px;
	margin-left: 20px;
	margin-right: 20px;
	overflow: auto;
	top: 7
}

/* body content format, centres all the content regardless of screen size */
.contentContainer {
	padding: 16px;
	max-width: 800px;
	margin: auto;
	line-height: 1.5;
}

/* ALL THE STYLING ITEMS BELOW ARE NOT APPLIED IN WEBSITESKELETONSTRUCTURE.HTM. 
 BUT IF YOU ADD ANY ITEMS WHOSE STYLING DOES NOT EXIST, ADD IT BELOW. */

/*welcome page */
#welcomeImgLib img {
	padding: 10px;
	margin: auto; 
}
 span.enquiryPage {
	font-size: 16px;
	padding-top: 16px;
}
.enquiryPage a{
	text-decoration: none;
	color: blue;
}
/* enquiry form */
#enquiryForm{
	border: 3px solid #f1f1f1;
	margin: auto;
}
.enquiryForm {
	padding: 16px;
	margin: auto;
}
.enquiryForm #enquiryFormTitle {
	font-size: 22px;
}
.enquiryForm .radio-inline{
	display: block;
	line-height: 2;
}
.enquiryForm input[type=text], textarea, input[type=email], input[type=tel]  {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background: #f1f1f1;

}
.enquiryForm button {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	font-family: helvetica;
	font-size: 15px;
	margin-bottom: 11px;
}
.enquiryForm #submitbtn:hover {
	background-color: #45a049;
	font-family: helvetica;
	font-size: 15px;
}
.enquiryForm .resetbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.enquiryForm .resetbtn:hover {
	opacity: 0.8;
}
.enquiryForm span.FAQMenu {
	float: right;
	font-size: 14px;
	padding-top: 16px;
}
.enquiryForm .FAQMenu a{
	text-decoration: none;
	color: blue;
}
.enquiryForm #enquiryFooter {
	background-color:#f1f1f1;
}
/* responsive enquiry form|| change layout if screen too small*/
@media screen and (max-width: 700px) {
  .enquiryForm span.FAQMenu {
    display: block;
    float: none;
	text-align: center;
  }
  .enquiryForm .resetbtn {
    width: 100%;
  }
}

/* horizontal line for breaking up sections */
hr {
	border: 0.5px solid lightgrey;
}

/*login form */
#login{
	border: 3px solid #f1f1f1;
	max-width: 600px;
	margin: auto;
}
.login {
	padding: 16px;
	max-width: 600px;
	margin: auto;
}
.login #loginTitle {
	font-size: 22px;
}
.login span.forgotPassword {
	float: right;
	font-size: 14px;
}
.login #password {
	float: left;
}
.login input[type=email], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.login button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.login button:hover {
	opacity: 0.8;
}
.login .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.login span.signup {
	float: right;
	font-size: 14px;
	padding-top: 16px;
}
.login .signup a{
	text-decoration: none;
	color: blue;
}
/* responsive login || change layout if screen too small*/
@media screen and (max-width: 700px) {
  .login span.signup {
    display: block;
    float: none;
	text-align: center;
  }
  .login .cancelbtn {
    width: 100%;
  }
}

/* forgot password */
#forgotPsw{
	border: 3px solid #f1f1f1;
	max-width: 600px;
	margin: auto;
}
.forgotPsw {
	padding: 16px;
	max-width: 600px;
	margin: auto;
}
.forgotPsw #forgotPswTitle {
	font-size: 22px;
}
.forgotPsw input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.forgotPsw button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.forgotPsw button:hover {
	opacity: 0.8;
}
.forgotPsw .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.forgotPsw span.signup {
	float: right;
	font-size: 14px;
	padding-top: 16px;
}
.forgotPsw .signup a{
	text-decoration: none;
	color: blue;
}
/* responsive forgot password || change layout if screen too small*/
@media screen and (max-width: 700px) {
  .forgotPsw span.signup {
    display: block;
    float: none;
	text-align: center;
  }
  .forgotPsw .cancelbtn {
    width: 100%;
  }
}

/* return to login from forgot password */
span.returnToLogin p{
	font-size: 30px;
	display: inline;
}
span.returnToLogin a{
	text-decoration: none;
}

/*register form */
#register{
	margin: auto;
	border: 3px solid #f1f1f1;
	
}
.register {
	padding: 16px;
	margin: auto;
}
.register #registerTitle {
	font-size: 22px;
}
.register .userTypeBtn{
	width: 100%;
}
.register input[type=button]{
	background-color: lightblue;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid lightblue;
	cursor: pointer;
	font-size: 16px;
	float: left;
	
}
.register input[type=button]:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
}
.userTypeBtn #docbtn{
	width: 50%;
}
.userTypeBtn #patbtn {
	width: 50%;
}
.userTypeBtn:after {
	content: "";
	clear: both;
	display: table;
}
.register span.login {
    text-align: center;
	width: 100%;
	display: block;
	padding: 10px;
}

/* responsive registration form || resize items if window is small*/
@media screen and (max-width: 700px) {
  .register .userTypeBtn button {
    width: 100%;
	display: block;
	float: none;
	margin: 4px 0;
  }
  .userTypeBtn #docbtn{
	width: 100%;
  }
  .userTypeBtn #patbtn {
	width: 100%;
  }
  .register span.login {
    display: block;
    float: none;
	text-align: center;
  }
}

/* patient register form */
#patientRegister{
	margin: auto;
	border: 3px solid #f1f1f1;
}
.patientRegister {
	padding: 16px;
	margin: auto;
}
.patientRegister #patientRegisterTitle {
	font-size: 22px;
}
.patientRegister input[type=email], input[type=password], input[type=tel], input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.patientRegister button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.patientRegister button:hover {
	opacity: 0.8;
}
.patientRegister .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.patientRegister span.notPatient {
    float: right;
	font-size: 15px;
	padding-top: 16px;
}
p .login{
	font-size: 14px;
}
.patientRegister a{
	/* text-decoration: none; */
	color: blue;
}
/* responsive registration form || resize items if window is small*/
@media screen and (max-width: 700px) {
  .patientRegister span.notPatient {
    display: block;
    float: none;
	text-align: center;
  }
  .patientRegister .cancelbtn {
    width: 100%;
  }
}

/* patient register form */
#doctorRegister{
	margin: auto;
	border: 3px solid #f1f1f1;
}
.doctorRegister {
	padding: 16px;
	margin: auto;
}
.doctorRegister #doctorRegisterTitle {
	font-size: 22px;
}
.doctorRegister input[type=email], input[type=password], input[type=tel], input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.doctorRegister button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.doctorRegister button:hover {
	opacity: 0.8;
}
.certUpload > input{
	display: none;
	
}
.certUpload img{
	float: right;
	width: 25px;
	cursor: pointer;
}
.doctorRegister .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.doctorRegister span.notDoctor {
    float: right;
	font-size: 15px;
	padding-top: 16px;
}
p .login{
	font-size: 14px;
}
.doctorRegister a{
	/* text-decoration: none; */
	color: blue;
}
/* responsive registration form || resize items if window is small*/
@media screen and (max-width: 700px) {
  .doctorRegister span.notDoctor {
    display: block;
    float: none;
	text-align: center;
  }
  .doctorRegister .cancelbtn {
    width: 100%;
  }
}

/* doctor account settings */
#editDoctorDetails{
	margin: auto;
}
.editDoctorDetails {
	margin: auto;
}
.editDoctorDetails input[type=email],input[type=password], input[type=tel], input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: white;
}
.editDoctorDetails button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.editDoctorDetails button:hover {
	opacity: 0.8;
}
.editDoctorDetails > input{
	display: none;
	
}
.editDoctorDetails img{
	float: right;
	width: 25px;
	cursor: pointer;
}
.editDoctorDetails .cancelbtn {
	width: 100%;
	padding: 14px 20px;
	margin: 8px 0;
	background-color: #f44336;
}

/* patient account */
#editPatientDetails{
	margin: auto;
}
.editPatientDetails {
	margin: auto;
}
.editPatientDetails input[type=email], input[type=password], input[type=tel], input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: white;
}
.editPatientDetails button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.editPatientDetails button:hover {
	opacity: 0.8;
}
.editPatientDetails .cancelbtn {
	width: 100%;
	padding: 14px 20px;
	margin: 8px 0;
	background-color: #f44336;
}