/* Apply to whole doc */
* {
	font-family: helvetica;
}

/* top navigation bar */
.navigation {
	overflow: hidden;
	background-color: lightblue;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}
.navigation a {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-decoration: none;
}
.navigation a:hover {
	background: white;
	color: black;
}
.navigation #websiteHeading{
	float: left;
	background-color: lightblue;
	color: black;
	font-size: 30px;
}

/*fixed footer bar */
footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	font-size: 10px;
	background-color: lightblue;
	color: black;
}

/* body of the site = everything outside the navbar and footer bar */
.body{
	margin-top: 65px;
	margin-bottom: 53px;
	margin-left: 20px;
	margin-right: 20px;
	overflow: auto;
	background-color: white;
}