/* CSS FOR WHOLE WEBSITE */

/* Apply to whole doc */
* {
	font-family: helvetica;
}

/* top navigation bar */
.navigation {
	overflow: hidden;
	background-color: lightblue;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	vertical-align: middle;
}
.navigation a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-decoration: none;
	font-size: 28px;
}
.navigation a:hover {
	background: white;
	color: black;
}
.navigation #websiteHeading{
	background-color: lightblue;
}
.navbar-right {
	float: right;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}
.navbar-right a{
	float:left;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}
.navigation .icon{
	display: none;
}

/* responsive top nav bar || change to toggle menu if screen too small*/
@media screen and (max-width: 900px) {
  .navigation a:not(:first-child) {display: none;}
  .navbar-right a {
	display: none;
  }
  .navigation a.icon {
    float: right;
    display: block;
	position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 900px) {
  .navigation.responsive {}
  .navigation.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navigation.responsive .navbar-right {
	float: none;
	display: block;
    text-align: left;
  }
}
 
/*fixed footer bar */
.footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: lightblue;
	color: black;
}
#copyRight {
	float: right;
	margin-right: 35px;
	font-size: 12px;
}
.etcDetails{
	float: left;
	margin-top: 9px;
	margin-left: 35px;
}
.etcDetails a{
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	color: black;
}
/* stack footer items if the screen is too small */
@media screen and (max-width: 700px) {
  .footer .etcDetails {
    display: block;
    float: none;
	text-align: center;
  }
  .footer #copyRight {
	display: block;
    float: none;
	text-align: center;
	margin-right: 0;
  }
}

/* body of the site = everything outside the navbar and footer bar */
.body{
	margin-top: 65px;
	margin-bottom: 53px;
	margin-left: 20px;
	margin-right: 20px;
	/* overflow: auto; */
	top: 7
}

/* body content format, centres all the content regardless of screen size */
.contentContainer {
	padding: 16px;
	max-width: 800px;
	margin: auto;
	line-height: 1.5;
}

/* ALL THE STYLING ITEMS BELOW ARE NOT APPLIED IN WEBSITESKELETONSTRUCTURE.HTM. 
 BUT IF YOU ADD ANY ITEMS WHOSE STYLING DOES NOT EXIST, ADD IT BELOW. */

/*welcome page */
#welcomeImgLib img {
	padding: 10px;
	margin: auto; 
}
 span.enquiryPage {
	font-size: 16px;
	padding-top: 16px;
	
}
.enquiryPage a{
	text-decoration: none;
	color: blue;
}
/* enquiry form */
#enquiryForm{
	border: 3px solid #f1f1f1;
	margin: auto;
}
.enquiryForm {
	padding: 16px;
	margin: auto;
}
.enquiryForm #enquiryFormTitle {
	font-size: 22px;
}
.enquiryForm .radio-inline{
	display: block;
	line-height: 2;
}
.enquiryForm input[type=text] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background: #f1f1f1;

}
.enquiryForm textarea  {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background: #f1f1f1;

}
.enquiryForm input[type=email] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background: #f1f1f1;

}
.enquiryForm input[type=tel]  {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background: #f1f1f1;

}
.enquiryForm button {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	font-family: helvetica;
	font-size: 15px;
	margin-bottom: 11px;
}
.enquiryForm #submitbtn:hover {
	background-color: #45a049;
	font-family: helvetica;
	font-size: 15px;
}
.enquiryForm .resetbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.enquiryForm .resetbtn:hover {
	opacity: 0.8;
}
.enquiryForm span.FAQMenu {
	float: right;
	font-size: 14px;
	padding-top: 16px;
}
.enquiryForm .FAQMenu a{
	text-decoration: none;
	color: blue;
}
.enquiryForm #enquiryFooter {
	background-color:#f1f1f1;
}
/* responsive enquiry form|| change layout if screen too small*/
@media screen and (max-width: 700px) {
  .enquiryForm span.FAQMenu {
    display: block;
    float: none;
	text-align: center;
  }
  .enquiryForm .resetbtn {
    width: 100%;
  }
}

/* return to enquiry */
span.returnToEnquiry p{
	font-size: 30px;
	display: inline;
}
span.returnToEnquiry a{
	text-decoration: none;
	color: black;
}

/* link to contact page from failed enquiry form page */
.enquiryFormLink a{
	text-decoration: none;
	color: blue;
}

/* horizontal line for breaking up sections */
hr {
	border: 0.5px solid lightgrey;
}

/*login form */
#login{
	border: 3px solid #f1f1f1;
	max-width: 600px;
	margin: auto;
}
.login {
	padding: 16px;
	max-width: 600px;
	margin: auto;
}
.login #loginTitle {
	font-size: 22px;
}
.login span.forgotPassword {
	float: right;
	font-size: 14px;
}
.login #password {
	float: left;
}
.login input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.login input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.login button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.login button:hover {
	opacity: 0.8;
}
.login .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.login span.signup {
	float: right;
	font-size: 14px;
	padding-top: 16px;
}
.login .signup a{
	text-decoration: none;
	color: blue;
}
/* responsive login || change layout if screen too small*/
@media screen and (max-width: 700px) {
  .login span.signup {
    display: block;
    float: none;
	text-align: center;
  }
  .login .cancelbtn {
    width: 100%;
  }
}

/* forgot password */
#forgotPsw{
	border: 3px solid #f1f1f1;
	max-width: 600px;
	margin: auto;
}
.forgotPsw {
	padding: 16px;
	max-width: 600px;
	margin: auto;
}
.forgotPsw #forgotPswTitle {
	font-size: 22px;
}
.forgotPsw input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.forgotPsw button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.forgotPsw button:hover {
	opacity: 0.8;
}
.forgotPsw .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.forgotPsw span.signup {
	float: right;
	font-size: 14px;
	padding-top: 16px;
}
.forgotPsw .signup a{
	text-decoration: none;
	color: blue;
}
/* responsive forgot password || change layout if screen too small*/
@media screen and (max-width: 700px) {
  .forgotPsw span.signup {
    display: block;
    float: none;
	text-align: center;
  }
  .forgotPsw .cancelbtn {
    width: 100%;
  }
}

/* return to login from forgot password */
span.returnToLogin p{
	font-size: 30px;
	display: inline;
}
span.returnToLogin a{
	text-decoration: none;
	color: black;
}

/* link to forgot password page from failed forgot password page */
.forgotPasswordLink a{
	text-decoration: none;
	color: blue;
}

/*register form */
#register{
	margin: auto;
	border: 3px solid #f1f1f1;
}
.register {
	padding: 16px;
	margin: auto;
}
.register #registerTitle {
	font-size: 22px;
}
.register .userTypeBtn{
	width: 100%;
}
.register input[type=button]{
	background-color: #C0C0C0;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid #C0C0C0;
	cursor: pointer;
	font-size: 16px;
	float: left;
	
}
.register input[type=button]:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
}
.userTypeBtn #docbtn{
	width: 50%;
}
.userTypeBtn #patbtn {
	width: 50%;
}
.userTypeBtn:after {
	content: "";
	clear: both;
	display: table;
}
.register span.login {
    text-align: center;
	width: 100%;
	display: block;
	padding: 10px;
}

/* responsive registration form || resize items if window is small*/
@media screen and (max-width: 700px) {
  .register .userTypeBtn button {
    width: 100%;
	display: block;
	float: none;
	margin: 4px 0;
  }
  .userTypeBtn #docbtn{
	width: 100%;
  }
  .userTypeBtn #patbtn {
	width: 100%;
  }
  .register span.login {
    display: block;
    float: none;
	text-align: center;
  }
}

/* patient register form */
#patientRegister{
	margin: auto;
	border: 3px solid #f1f1f1;
}
.patientRegister {
	padding: 16px;
	margin: auto;
}
.patientRegister #patientRegisterTitle {
	font-size: 22px;
}
.patientRegister input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.patientRegister input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.patientRegister input[type=tel] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.patientRegister input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.patientRegister button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.patientRegister button:hover {
	opacity: 0.8;
}
.patientRegister .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.patientRegister span.notPatient {
    float: right;
	font-size: 15px;
	padding-top: 16px;
}
p .loginLink{
	font-size: 14px;
}
.loginLink a{
	text-decoration: none;
	color: blue;
}
.patientRegister a{
	text-decoration: none;
	color: blue;
}
/* responsive registration form || resize items if window is small*/
@media screen and (max-width: 700px) {
  .patientRegister span.notPatient {
    display: block;
    float: none;
	text-align: center;
  }
  .patientRegister .cancelbtn {
    width: 100%;
  }
}

/* doctor register form */
#doctorRegister{
	margin: auto;
	border: 3px solid #f1f1f1;
}
.doctorRegister {
	padding: 16px;
	margin: auto;
}
.doctorRegister #doctorRegisterTitle {
	font-size: 22px;
}
.doctorRegister input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.doctorRegister input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.doctorRegister input[type=tel] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.doctorRegister input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.doctorRegister button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.doctorRegister button:hover {
	opacity: 0.8;
}
.certUpload > input{
	display: none;
	
}
.certUpload img{
	float: right;
	width: 25px;
	cursor: pointer;
}
.doctorRegister .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.doctorRegister span.notDoctor {
    float: right;
	font-size: 15px;
	padding-top: 16px;
}
p .login{
	font-size: 14px;
}
.doctorRegister a{
	text-decoration: none;
	color: blue;
}
/* responsive registration form || resize items if window is small*/
@media screen and (max-width: 700px) {
  .doctorRegister span.notDoctor {
    display: block;
    float: none;
	text-align: center;
  }
  .doctorRegister .cancelbtn {
    width: 100%;
  }
}

/* return to sign up */
span.returnToSignup p{
	font-size: 30px;
	display: inline;
}
span.returnToSignup a{
	text-decoration: none;
	color: black;
}

/* link to sign up page from failed sign up form page */
.signupFormLink a{
	text-decoration: none;
	color: blue;
}

/* doctor account settings */
#editDoctorDetails{
	margin: auto;
}
.editDoctorDetails {
	margin: auto;
}
.editDoctorDetails input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: white;
}
.editDoctorDetails input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: white;
}
.editDoctorDetails input[type=tel] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: white;
}
.editDoctorDetails input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: white;
}
.editDoctorDetails button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.editDoctorDetails button:hover {
	opacity: 0.8;
}
.editDoctorDetails > input{
	display: none;
	
}
.editDoctorDetails img{
	float: right;
	width: 25px;
	cursor: pointer;
}
.editDoctorDetails .cancelbtn {
	width: 100%;
	padding: 14px 20px;
	margin: 8px 0;
	background-color: #f44336;
}

/* patient account */
#editPatientDetails{
	margin: auto;
}
.editPatientDetails {
	margin: auto;
}
.editPatientDetails input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: white;
}
.editPatientDetails input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: white;
}
.editPatientDetails input[type=tel] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: white;
}
.editPatientDetails input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: white;
}
.editPatientDetails button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.editPatientDetails button:hover {
	opacity: 0.8;
}
.editPatientDetails .cancelbtn {
	width: 100%;
	padding: 14px 20px;
	margin: 8px 0;
	background-color: #f44336;
}

/* medical subscription form */
#medicalSubscriptionForm{
	margin: auto;
	border: 3px solid #f1f1f1;
}
.medicalSubscriptionForm {
	padding: 16px;
	margin: auto;
}
.medicalSubscriptionForm #medicalSubscriptionFormTitle {
	font-size: 22px;
}
.medicalSubscriptionForm #patientDetailsTitle {
	font-size: 20px;
}
.medicalSubscriptionForm #consultationDetailsTitle {
	font-size: 20px;
}
.medicalSubscriptionForm #doctorDetailsTitle {
	font-size: 20px;
}
.medicalSubscriptionForm li a {
	color: black;
	text-decoration: none;
}
.medicalSubscriptionForm .radio-inline{
	display: block;
	line-height: 2;
}
.medicalSubscriptionForm input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.medicalSubscriptionForm input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.medicalSubscriptionForm input[type=tel] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.medicalSubscriptionForm input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.medicalSubscriptionForm textarea  {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background: #f1f1f1;

}
.medicalSubscriptionForm button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.medicalSubscriptionForm button:hover {
	opacity: 0.8;
}
.prescriptionUpload > input{
	display: none;
	
}
.prescriptionUpload img{
	float: right;
	width: 25px;
	cursor: pointer;
}
.medicalSubscriptionForm .resetbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.medicalSubscriptionForm span.referral{
    float: right;
	font-size: 15px;
	padding-top: 16px;
}
.medicalSubscriptionForm a{
	text-decoration: none;
	color: blue;
}
/* responsive medical subscription form || resize items if window is small*/
@media screen and (max-width: 700px) {
  .medicalSubscriptionForm span.referral {
    display: block;
    float: none;
	text-align: center;
  }
  .medicalSubscriptionForm .resetbtn {
    width: 100%;
  }
}

/* return to medical subscription form*/
span.returnToMedicalSubscription p{
	font-size: 30px;
	display: inline;
}
span.returnToMedicalSubscription a{
	text-decoration: none;
	color: black;
}

/* link to create medical subscription page from failed medical subscription form page */
.medicalSubscriptionFormLink a{
	text-decoration: none;
	color: blue;
}

/* doctor consultation page */
#doctorConsultation {
	margin: auto;
	border: 3px solid #f1f1f1;
}
.doctorConsultation {
	padding: 16px;
	margin: auto;
}
.doctorConsultation #doctorConsultationTitle {
	font-size: 22px;
}
.doctorConsultation #appointmentListTitle {
	font-size: 19px;
}
.doctorConsultation #BookorChangeConsultationTitle {
	font-size: 19px;
}
.doctorConsultation input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.doctorConsultation button {
	background-color: #f44336;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.doctorConsultation button:hover {
	opacity: 0.8;
}
.doctorConsultation #clearbtn {
	background-color: grey;
}
.doctorConsultation input[type="value"] {
	text-align: center;
	width: 100%;
	font-size:14px;
	padding: 12px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

#patientConsultation {
	margin: auto;
	border: 3px solid #f1f1f1;
}
.patientConsultation {
	padding: 16px;
	margin: auto;
}
.patientConsultation #patientConsultationTitle {
	font-size: 22px;
}
.patientConsultation #appointmentListTitle {
	font-size: 19px;
}
.patientConsultation #BookorChangeConsultationTitle {
	font-size: 19px;
}
.patientConsultation input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background:#f1f1f1;
}
.patientConsultation button {
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
	float: left;
}
.patientConsultation button:hover {
	opacity: 0.8;
}
.btnGroup #bookbtn {
	background-color: #4CAF50;
	width: 50%;
}
.btnGroup #deletebtn {
	background-color: #f44336;
	width: 50%;
}
.patientconsultation:after {
	content: "";
	clear: both;
	display: table;
}
.patientConsultation #clearbtn {
	width: 100%;
	background-color: grey;
}
.patientConsultation input[type="value"] {
	text-align: center;
	width: 100%;
	font-size: 14px;
	padding: 12px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
/* responsive patient consultation management page || resize items if window is small*/
@media screen and (max-width: 700px) {
  .patientConsultation .btnGroup button {
	  width: 100%;
	  display: block;
	  float: none;
	  margin: 4px 0;
  }
  .patientConsultation button {
	  width: 100%;
  }
  .btnGroup #bookbtn {
	  width: 100%;
  }
  .btnGroup #deletebtn {
	  width: 100%;
  }
}

/*referral menu */
#referralsMenu {
	margin: auto;
	border: 3px solid #f1f1f1;
}
.referralsMenu {
	padding: 16px;
	margin: auto;
}
.referralsMenu #referralsMenuTitle {
	font-size: 22px;
}
.referralsMenu .referralMenuBtn{
	width: 100%;
}
.referralMenuBtn input[type=button] {
	background-color: #C0C0C0;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid #C0C0C0;
	cursor: pointer; 
	font-size: 16px;
	float: left;
}
.referralMenuBtn input[type=button]:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
}
.referralMenuBtn #makeReferral {
	width: 50%;
}
.referralMenuBtn #viewReferral {
	width: 50%;
}
.referralMenuBtn:after {
	content:"";
	clear: both;
	display: table;
}
span.medicalSubscriptionLink {
	text-align: center;
	width: 100%;
	display: block;
	padding: 10px;
}
span.medicalSubscriptionLink a {
	text-decoration: none;
	color: blue;
}
/* return to referral form*/
span.returnToReferralsMenu p{
	font-size: 30px;
	display: inline;
}
span.returnToReferralsMenu a{
	text-decoration: none;
	color: black;
}

/* referral form */
#referralForm {
	margin: auto;
	border: 3px solid #f1f1f1;
}
.referralForm {
	padding: 16px;
	margin: auto;
}
.referralForm #referralFormTitle {
	font-size: 22px;
}
.referralForm #patientDetailsTitle {
	font-size: 19px;
}
.referralForm #consultationDetailsTitle {
	font-size: 19px;
}
.referralForm #doctorDetailsTitle {
	font-size: 19px;
}
.referralForm li a {
	color: black;
	text-decoration: none;
}
.referralForm input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.referralForm input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.referralForm input[type=tel] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.referralForm textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background: #f1f1f1;
	height: 150px;
}
.referralForm button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
}
.referralForm button:hover {
	opacity: 0.8;
}
.referralForm .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}
.referralForm span.medicalSubscription {
	float: right;
	font-size: 15px;
	padding-top: 16px;
}
.referralForm a {
	text-decoration: none;
	color: blue;
}
/* responsive referral form || resize items if window is small*/
@media screen and (max-width: 700px) {
  .referralForm span.medicalSubscription {
	  display: block;
	  float: none;
	  text-align: center;
  }
  .referralForm .cancelbtn {
	  width: 100%;
  }
}

/* return to referral form*/
span.returnToReferral p{
	font-size: 30px;
	display: inline;
}
span.returnToReferral a{
	text-decoration: none;
	color: black;
}
/* link to create medical subscription page from failed medical subscription form page */
.referralFormLink a{
	text-decoration: none;
	color: blue;
}

/* user dashboards */
#dashboard {
	margin: auto;
	border: 3px solid #f1f1f1;
}
.dashboard {
	padding: 16px;
	margin: auto;
}
.dashboard #dashboardTitle {
	font-size: 22px;
}
.dashboard input[type=button] {
	background-color: #C0C0C0;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: 1px solid #C0C0C0;
	cursor: pointer; 
	font-size: 16px;
	width: 100%;
}
.dashboard input[type=button]:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
}

/* view medical subscription - patient */
#viewMedicalSubscriptions {
	margin: auto;
	border: 3px solid #f1f1f1;
}
.viewMedicalSubscriptions {
	padding: 16px;
	margin: auto;
}
.viewMedicalSubscriptions #viewMedicalSubscriptionsTitle {
	font-size: 22px;
}
.viewMedicalSubscriptions table {
	font-family: helvetica;
	border-collapse: collapse;
	width: 100%;
}
.viewMedicalSubscriptions td, th {
	border: 1px solid #ccc;
	text-align: left;
	padding: 8px;
	
}
.viewMedicalSubscriptions tr:nth-child(even) {
	background-color: #dddddd;
}


/*urgent cases */
#urgentCases {
	margin: auto;
	border: 3px solid #f1f1f1;
}
.urgentCases {
	padding: 16px;
	margin: auto;
}
.urgentCases #urgentCasesTitle {
	font-size: 22px;
}
.urgentCases input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.urgentCases input[type=tel] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}
.urgentCases select {
	display: none;
}
.urgentCases button {
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 14px;
	float: left;
}
.urgentCases button:hover {
	opacity: 0.8;
}
.btnGroup #submitbtn {
	background-color: #4CAF50;
	width: 50%;
}
.btnGroup #clearbtn {
	background-color: #f44336;
	width: 50%;
}
.urgentCases:after {
	content: "";
	clear: both;
	display: table;
}
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
